@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Black.ttf");
    font-weight: 900;
  }
  
  @font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
  }

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }

  h2 {
    margin: 0;
  }
  
  nav {
    margin-top: 30px;
  }
  
  nav p {
    font-size: 40px;
    color: gray;
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
  }
  
  nav span {
    font-size: 40px;
    color: orange;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    border-left: 5px solid gray;
  }
  
  nav ul {
    width: 80%;
    margin: auto;
    background-color:  rgb(126, 206, 233);
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  nav ul li {
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
  }
  
  header .hero{
    background-image: url(../assets/images/banner3.jpg);
    background-size: cover;
    padding-bottom: 100px;
  }
  
  header .hero h1 {
    width: 100%;
    padding-top: 150px;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: 400;
  }
  
  header .hero button {
    background-color: blue;
    color: white;
    width: 130px;
    padding: 10px;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    border: none;
  }
  .introduction {
    padding: 30px;
  }
  .divider {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider .line {
    width: 50px;
    height: 2px;
    background: black;
  }
  
  .divider .square {
    height: 15px;
    width: 15px;
    border: 3px solid black;
    transform: rotate(45deg);
    margin: 0 7px;
  }

  .introduction h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
  }
  .introduction h3 {
    font-family: Roboto;
    font-weight: 500;
    color: rgb(92, 193, 226);
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .introduction q {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .introduction ul {
    text-transform: capitalize;
    padding-left: 20px;
    list-style-image: url('../assets/images/arrow_bullet.png');
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: grey;  
  }
  .introduction ul li {
    padding: 5px;
  }
  .introduction img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .reviews {
    padding: 30px;
  }
  .reviews h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
  }
  .card {
    background-color: rgb(126, 206, 233);
    margin-bottom: 20px;
    padding: 30px;
  }
  .card p {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .cardsHeader {
    display: flex;
    justify-content: flex-start;
    
  }
  .cardsHeader h5 {
    padding: 10px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
  }
  .cardsHeader img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    display: inline-block;
    padding: 2px;
  }
  .cardsHeader .headerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .stars {
    color: white;
    margin-left: 10px;
  }
  .cardsHeader .stars {
    display: block;
  }
  .contact {
    margin: 0;
    
  }
  .contact h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
  }
  .contact h3 {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 400;
    padding: 20px;
    color: white;
  }
  .contact p {
    color: white;
    font-family: Roboto;
    font-weight: 500;
    padding: 10px;
  }
  .wrapp {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 400px;
    
  }
  .contactUs {
    background-color:#3BDD9A;
    
  }  
  .connectUs {
    background-color: #FD5282;
  }
  .connectUs i {
    color: white;
    padding: 10px;
  }
  .address {
    background-color: steelblue;
  }
  
  .house {
    background-color: lightskyblue;
    box-sizing: border-box;
    padding: 20px;
    
  }
  .house img {
    max-width: 100%;
    max-height: 100%;
  }
  .contactUs, .connectUs, .address, .house {
    padding: 30px;
    height: 50%;
    width: 50%;
    text-align: center;
  }
  iframe {
    width: 100%;
    margin-bottom: 20px;
  }
  form {
    padding-left: 30px;
    padding-right: 30px;
  }
  form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 400;
    padding: 5px;    
  }
  form textarea {
    width: 100%;
    margin-bottom: 20px; 
  }
  textarea::placeholder {
    font-family: Roboto;
    font-weight: 400;
    padding: 5px;
    
  }
  #button {
    width: 20%;
    background-color: orange;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    border:none;
  }
  footer {
    background-color: rgb(32, 30, 30);
    padding: 40px;
    margin-top: 30px;
  }
  footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    
  }
  footer ul li a {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    padding: 5px;
    display: block;
    color: white;
  }
  footer p {
    color: white;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    padding: 30px;
  }
  
  @media screen and (min-width: 768px ) {
      nav {
        margin-top: 0px;
        display: flex;
        justify-content: flex-start;
      }
      nav p {
          
          padding-left: 15px;
          padding-top: 40px;
          
          color: white;        
        }
        nav span {
            border-top: 5px solid white;
            border-bottom: 5px solid white;
            border-left: 5px solid white;
        }
        nav ul {
            margin-left: 70px;
            margin-top: 0;
            background-color: unset;
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
        
        nav ul li{
            margin-top: 40px;           
            
            
            
        }
        nav ul li a {
            padding: 10px;   
            
        }
        header .hero{
          background-image:none;
        }   
        header {
            margin-top: 0px;
            background-image: url(../assets/images/banner3.jpg);
            background-size: cover;
            padding-bottom: 100px;
        }  

        .divider .line {
          width: 70px;
        }
        
        .article {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          
        }
        .box, .box1 {
          width: 50%;
        }
        .box2 {
          width: 100%;
        }
        
        .cards {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .card {
          width: 49%;
          box-sizing: border-box;
        }
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        form input {
          width: 32%;        
        }
        
    }

    @media screen and (min-width: 1200px) {
      nav ul {
        width: 70%;
      }
       .card {
        width: 33%;
        box-sizing: border-box;
      }
      .article {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        
      }
      .box, .box1, .box2 {
        width: 33%;
      }
      .box, .box2 {
      padding: 20px;
      }
    }
    