.colorOfNav {
  background-color: #343a40 !important;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
  padding: 3px;
  box-sizing: border-box;
  border-bottom: 1px solid darkgray;
  width: 80%;
}
a {
  cursor: pointer;
}