.container {
    width: 860px;
    margin: 0 auto;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  #search {
    width: 400px;
    padding: 7px;
    margin-top: 25px;
    border-radius: 20px;
  }
  .result {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  #users {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: inline-block;
  }
  .card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }