body {
  background-color: lightgrey;
}
.container {
    width: 860px;
    margin: 0 auto;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  #search {
    width: 400px;
    padding: 7px;
    margin-top: 25px;
    border-radius: 20px;
  }
  
  #users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .card {
    width: 30%;
    border:1px solid darkgray;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: #21262D;
    color: white;
  }
  .card > img {
    display: block;
    width: 80%;
    border: 1px solid darkgray;
    margin: 0 auto;
  }