img {
    display: block;
}

.first {
    height: 200px;
    float: right;
    clear: both;
}
.second {
    width: 200px;
    margin: 0 auto;
    clear: both;
}
.third {
    width: 200px;
    height: 200px;
    float: left;
}